{% extends 'base.html' %} 
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}" />   
{% endblock %}
{% block tilte %}
    <title>Solution Digital</title>
{% endblock %} 
{% block content %}
    <div class="reset-form-done">
        <h1>Réinitialisation du mot de passe terminée</h1>
        <p>Votre nouveau mot de passe a été défini. Vous pouvez vous connecter dès maintenant sur la
            <a href=" {% url 'login' %}">page de connection</a>.
        </p>
    </div>
{% endblock %}