{% extends 'base.html' %} 
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/form_reset_password.css' %}" />   
{% endblock %}
{% block tilte %}
    <title>Solution Digital</title>
{% endblock %} 
{% block content %}
    <div class="container-reset-form">
    <div class="reset-form-card">
        <div class="text">
            <h1> Vous avez oublié votre mot de passe ? </h1> 
        </div>
        <p> Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des 
            instructions pour en définir une nouvelle. 
        </p>
        <form class="form-reset"  method="POST" >
            <div class="form-row">
                {% csrf_token %} 
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        <div class="underline"></div>
                        {{ field.label_tag }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="button-63" type="submit" >Envoyez-moi des instructions !</button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}