<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
        rel="stylesheet"
        />
    </head>
    <body>
        <main>
            <title>Solution Digital</title>

            <div class="reset-form-done">
                <h1> Vérifiez votre boîte de réception. </h1> 
                <p> Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe. Vous devriez recevoir 
                    l'e-mail sous peu ! 
                </p>
            </div>
        </main>
    </body>

</html>
