{% extends 'base.html' %} 
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/form_reset_password.css' %}" />   
{% endblock %}
{% block tilte %}
    <title>Solution Digital</title>
{% endblock %} 
{% block content %}
<div class="container-reset-form">
    <div class="reset-form-card">
        {% if validlink %}
            <form class="form-reset" method="POST">
                <div class="text">
                    <h1>Définissez un nouveau mot de passe !</h1>
                </div>
                {% csrf_token %} 
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        <div class="underline"></div>
                        {{ field.label_tag }}
                      
                    </div>
                {% endfor %}
                <button class="button-63" type="submit">Change my password</button>
            </form>
        {% else %}
            <p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. 
                    Veuillez demander une nouvelle réinitialisation du mot de passe.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}