{% extends 'base.html' %} 
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/inscription.css' %}" />
{% endblock %}
{% block tilte %}
    <title>Solution Digital</title>
{% endblock %} 
{% block content %}
<div class="signup-container">
<div class="signup-main">
    <form method="POST" class="form-signup">
    <div class="text">Page d' inscription</div>
        <div class="form-row">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    <div class="underline"></div>
                    {{ field.label_tag }}

                </div>
                {% if field.help_text %}
                    <p class="form-text text-muted">{{ field.help_text }}</p>
                    {% endif %}
            {% endfor %}
                <button type="submit" class="button-63">Valider</button>
                <a class="lien-signup" href="{% url 'login' %}">Connection</a>
        </div>
  </form>
</div>
</div>
{% endblock %}